<aside class="sidebar">
    <div class="logo-container">
        <!-- A placeholder for your application's logo -->
        <span class="logo">AD</span>
    </div>
    <nav class="navigation">
        <ul>
            @for (item of navItems; track item.path) {
                <li>
                    <a [routerLinkActiveOptions]="{exact: !item.children}" [routerLink]="item.path"
                       routerLinkActive="active-link">
                        <span class="nav-label">{{ item.label }}</span>
                    </a>
                    @if (item.children) {
                        <ul class="sub-menu">
                            @for (child of item.children; track child.path) {
                                <li>
                                    <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="child.path"
                                       routerLinkActive="active-link">
                                        <span class="nav-label">{{ child.label }}</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </nav>
</aside>
