<div class="card">
    <div class="card-header">
        <h3>Risky Stores</h3>
    </div>
    <div class="card-body">
        @if(stores()){
            <table class="table">
                <thead>
                <tr>
                    <th>Store Name</th>
                    <th>Risk Score</th>
                    <th>Trend</th>
                </tr>
                </thead>
                <tbody>
                    @for(store of stores(); track store.id){
                        <tr>
                            <td>{{ store.name }}</td>
                            <td>{{ store.riskScore }}</td>
                            <td>{{ store.trend }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else {
            <p>Loading risky stores...</p>
        }
    </div>
</div>
