<div class="card">
    <div class="card-header">
        <h3>Risky Cashiers</h3>
    </div>
    <div class="card-body">
        @if(cashiers()){
            <table class="table">
                <thead>
                <tr>
                    <th>Cashier Name</th>
                    <th>Risk Score</th>
                    <th>Trend</th>
                </tr>
                </thead>
                <tbody>
                    @for(cashier of cashiers(); track cashier.id){
                        <tr>
                            <td>{{ cashier.name }}</td>
                            <td>{{ cashier.riskScore }}</td>
                            <td>{{ cashier.trend }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else {
            <p>Loading risky cashiers...</p>
        }
    </div>
</div>
